name: Go
on: 
   workflow_dispatch:
jobs:
  tests-and-reports:
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v3
       - uses: actions/setup-go@v4
         with:
          go-version: '1.19'
       - run: go run hello.go
